<div class="container">
    <div class="row contact-main">
        <div class="col-lg-8 contact-page-left">
            <h4>ADD A COMMENT</h4>

            <!--Name-->
            <label for="name" class="control-label" style="margin-top: 10px">Name: </label>
            <input type="text" class="form-control contact-input" id="name">

            <!--Email-->
            <label for="email" class="control-label" style="margin-top: 10px">Email: </label>
            <input type="email" class="form-control contact-input" id="email">

            <!--Comment-->
            <label for="comment" class="control-label" style="margin-top: 10px">Comment: </label>
            <textarea id="comment" class="form-control contact-input" style="height: 150px"></textarea>

            <!--Button-->
            <input type="button" value="Post Comment" class="btn btn-default" style="margin-top: 4%">

            <p style="color: red; margin-top: 15px">Note: This section is still developing and not functioning. It will available soon!</p>
        </div>
        <div class="col-lg-4 contact-page-right">
            <h4>GET IN TOUCH</h4>

            <p style="margin-top: 20px"><span>PHONE</span><br>
            (+94) 776 459108<br>
            (+94) 710 899654</p>

            <p style="margin-top: 20px"><span>EMAIL</span><br>
            prasannadeshappriya@gmail.com<br>
            prasanna.14@cse.mrt.ac.lk</p>

            <p style="margin-top: 20px"><span>ADDRESS</span><br>
            No:695/B, Kapuwatta Station Rd, <br>Ja-Ela, 11350</p>
        </div>
    </div>
</div>