<div style="margin-bottom: 50px">
    <h4><b>CHAT-BOT </b></h4>
    <p>
        <b>Last Updated:</b> July 29, 2018 <br>
        This project was implemented while I was doing internship at Eyepax IT (Pvt) Ltd.
        The aim of this project is to reduce the time spending for the new employees to go through company
        policies, and related information. Employees can chat with this bot and found solution for there problems.
        New employees can get some understanding about company policies, culture, dress-code and extra activities while
        chat with this bot. [Note: This chat bot is still under development and not capable of performing its
        all commands. Latest release consists of most important policies of the company]
        <br>
    </p>
    <div>
        <p style="display: inline"><b>Technologies:</b> NodeJS, AngularJS, NLP Libraries [Wit.AI], Microsoft Bot Framework</p>
        <a href="" ng-click="setCurrent(6)" class="readmore-anchor"> Read more ></a>
    </div>
</div>