<div class="container" style="margin-bottom: 100px">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4">
                <div class="image_border_home">
                    <img src="dist/assets/images/myself.jpg" width="280" height="300" class="img-responsive home-image"/>
                    <div class="image_content">
                        <p>Prasanna Deshappriya <br>
                            <span>Software Engineer</span></p>
                        <p><span>
                            An undergraduate student from University of Moratuwa specialized in Integrated Computer science & Engineering
                        </span></p>
                    </div>

                </div>
            </div>
            <div class="col-md-8">
                <p class="home-content">
                    I'm Prasanna Deshappriya. I’m an undergraduate student from University of Moratuwa
                    and currently specializing ICE (Integrated Computer Engineering) stream, where we focus on both computer
                    and hardware programming. I'm an energetic and passionate programmer with the ability to work
                    effectively as part of the team while adapting to the cutting-edge technologies.
                    Being a committed individual, I enjoy challenges and always curious about new technologies in
                    the world.

                    <br><br>
                    I'm a freelance developer since 2015 and responsible for different projects that may go on simultaneously.
                    I have more than four years of experience in Fiverr. As a freelance developer, I can work in a particular
                    or various domains depending on the client's requirement. Fiverr is an online marketplace for freelance services.
                    I have worked with many clients around the world while maintaining 100% customer satisfaction.
                    I develop web and desktop applications while providing integrations and remote services.

                    <br><br>
                    I was completed internship training program at Eyepax IT Consulting (Pvt) Ltd. The program was offered
                    by Training Division and Department of Computer Science and Engineering, University of Moratuwa.
                    Eyepax IT Consulting (Pvt) Ltd is a privately held IT company founded in 2006. The company provides an
                    array of software development services based on the latest client server, windows, and web, wireless and
                    Smartphone technologies. I worked with the development team and contributed to several research project in
                    an agile environment. In addition to technical work, I was a member of the company futsal team, member of
                    the winning team of pool competition and I was successfully completed the 10km LSR International Marathon.

                    <br><br>
                    In addition to my development work, I possess proven interpersonal and leadership skills
                    that have been put to the good use while working as a team. I like to play music instruments
                    during my leisure time. Feel free to <a href="/contact">contact</a> me for further information.
                    You can <a href="/cv">view</a> or download my CV from below.

                    <br><br>
                    <a target="_self" href="dist/assets/files/CV2018.pdf" download="CV2018.pdf"
                       class="btn btn-default"><i class="fa fa-download"></i>  Download CV</a>

                    <br><br>
                    I have contributed to many projects on github. Some projects are related to undergraduate studies in
                    University of Moratuwa. <a href="/projects">Learn more</a> about my projects or
                    <a href="https://github.com/prasannadeshappriya">click here</a> to view my project repositories in github.
                </p>

                <!-- Prepare a container for your calendar. -->
                <div class="calendar git-hub-calender">
                    <!-- Loading stuff -->
                    Loading data from the github server, Please wait...
                </div>
                <script>
                    new GitHubCalendar(
                        ".calendar",
                        "prasannadeshappriya"
                    );
                </script>
            </div>
        </div>
    </div>
</div>

<!--<div style="clear:both"></div>-->